$color_3: #ffffff;
$color_4: #cc005f;

$color_1: #efefef;
$color_2: #1ce2c8;
$background-color_1: #1ce2c8;

#intro {
  padding: 0 0 5rem 0;
  height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .intro__title {
    max-width: 100%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
    span {
      display: inline-block;
      font-size: 10vmin;
      color: $color_1;
      width: 100%;
      text-transform: uppercase;
      animation: byBottom 1s ease both;
      font-weight: 600;
      letter-spacing: 0.25vw;
      &:last-child {
        font-size: 1rem;
        animation: byBottom 1s 0.25s ease both;
      }
      a {
        position: relative;
        display: inline-block;
        margin-left: 0.5rem;
        text-decoration: none;
        color: $color_2;
        &::after {
          content: "";
          height: 2px;
          background-color: $background-color_1;
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 0;
          animation: linkAfter 0.5s 1s ease both;
        }
      }
    }

    .intro__gitLink {
      margin: 0%;
      padding: 0%;
    }
  }
  .intro__social {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    font-size: 3.3rem;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 580px) {
      top: 0px;
    }
    li {
      display: inline-block;
      margin: 0 20px;
      padding: 0;
      a {
        color: $color_3;
        &:visited {
          color: $color_3;
        }
        &:hover {
          color: $color_4;
        }
        &:focus {
          color: $color_4;
        }
      }
    }
    a {
      padding: 15px 20px;
    }
  }
}
@media only screen and (max-width: 580px) {
  #intro {
    padding: 45% 0 10% 0;
  }
  .intro__social {
    top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .intro__content {
    h1 {
      font-size: 7.6rem;
    }
  }
  .intro__social {
    font-size: 3rem;
    li {
      margin: 0 15px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .intro__social {
    font-size: 2.5rem;
    li {
      margin: 0 10px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .intro__social {
    font-size: 2.4rem;
  }
}

@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@-o-keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 30px;
  }
}

@media only screen and (max-width: 580px) {
  #intro {
    padding: 40% 0 10% 0;
  }
}
