.nav-items {
    position: relative;
    z-index: 5;
}

.nav-items a {
    padding: 15px 20px;
}

#bouncyBall {
    width: 100%;
    height: min-content;
    position: absolute;
    top: 0;
    left: 0;
}

.p-link {
    margin: 0%;
    padding: 0%;
}

@-moz-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-webkit-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-o-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

.intro-social {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    font-size: 3.3rem;
    margin: 0;
    padding: 0;
}

.intro-social li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

.intro-social a {
    padding: 15px 20px;
}

.intro-social li a,
.intro-social li a:visited {
    color: #ffffff;
}

.intro-social li a:hover,
.intro-social li a:focus {
    color: #cc005f;
}

@media only screen and (max-width: 1024px) {
    .intro-content h1 {
        font-size: 7.6rem;
    }

    .intro-social {
        font-size: 3rem;
    }

    .intro-social li {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 768px) {
    .intro-social {
        font-size: 2.5rem;
    }

    .intro-social li {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 600px) {
    .intro-social {
        font-size: 2.4rem;
    }
}

#about {
    color: #efefef;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#about .section-intro {
    margin-bottom: 3rem;
    text-align: center;
}

#landing {
    padding: 0 0 10% 0;
}

#landing {
    height: 64vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing .title {
    max-width: 100%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}

#landing .title span {
    display: inline-block;
    font-size: 5vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
}

#landing .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
}

#landing .title span a {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #1ce2c8;
}

#landing .title span a::after {
    content: "";
    height: 2px;
    background-color: #1ce2c8;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    animation: linkAfter 0.5s 1s ease both;
}

.section-intro h1 {
    text-align: center;
    font-family: "poppins-semibold", serif;
    font-size: 3.6rem;
    color: #cfcfcf;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}

.section-intro h5 {
    text-align: center;
    color: #ff0077;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: 0.4rem;
}

.intro-info {
    margin-top: 4.2rem;
    margin-right: -30px;
    margin-left: -30px;
}

.profile-image-container {
    height: 12rem;
    width: 12rem;
}

.profile-image {
    border-radius: 50%;
    margin: 0.9rem 0 0 0;
    float: left;
}

.intro-info p {
    text-align: center;
    font-weight: 10;
    line-height: normal;
}

.intro-info .lead {
    color: #cecece;
    background-color: #161616;
    padding: 5%;
    border-radius: 20px;
    line-height: 2em;
}

.section-heading {
    margin-bottom: 50px;
    margin-top: 10%;
    text-align: left;
}

.section-heading > .section-title {
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -0.25px;
    line-height: 100%;
    margin-bottom: 0;
    position: relative;
    z-index: 9;
}

.section-heading.page-heading {
    margin-bottom: 83px;
    text-align: center;
}

.section-heading.page-heading > .section-title {
    font-size: 46px;
    margin-bottom: 37px;
}

.section-heading.page-heading > .animated-bar {
    background-color: #fff;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    margin: 0 auto 0 auto;
    position: relative;
    right: 0;
    width: 75px;
}

.section-heading.page-heading > .animated-bar:after,
.section-heading.page-heading > .animated-bar:before {
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: barAnimation;
    -webkit-animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: barAnimation;
    animation-timing-function: linear;
    background-color: #101010;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 4px;
}

.section-heading.page-heading > .animated-bar:before {
    left: 8px;
}

.section-heading.page-heading > .animated-bar:after {
    left: 0;
}

@-webkit-keyframes barAnimation {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(75px);
        transform: translateX(75px);
    }
}

@keyframes barAnimation {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(75px);
        transform: translateX(75px);
    }
}

.section-heading > .section-description {
    color: #cecece;
    font-size: 15px;
    margin-bottom: 17px;
}

@media (max-width: 991.98px) {
    .section-heading > .section-title {
        font-size: 36px;
    }

    .section-heading > .section-description {
        font-size: 14px;
    }

    .section-heading.page-heading > .section-title {
        font-size: 42px;
    }
}

@media (max-width: 767.98px) {
    .section-heading > .section-description {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
    .section-heading > .section-title {
        font-size: 34px;
    }

    .section-heading.page-heading > .section-title {
        font-size: 36px;
    }
}

#resume {
    min-height: 90vh;
}

#resume h5 {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0%;
}

#resume .resume-section .col-block.education {
    margin-right: 0px;
}

#resume .resume-section .col-block.experience {
    margin-left: 0px;
}

#resume .resume-section .col-title {
    font-size: 26px;
    margin-bottom: 20px;
}

#resume .resume-section .resume-item {
    background-color: #161616;
    border-left: 2px solid transparent;
    padding: 32px 48px;
    position: relative;
}

#resume .resume-section .resume-item:not(:last-child) {
    border-bottom: 1px solid #313131;
}

#resume .resume-section .resume-item:last-child {
    margin-bottom: 0;
}

#resume .resume-section .resume-item .item-arrow {
    left: 0;
    margin-top: 2px;
    position: absolute;
}

#resume .resume-section .resume-item .item-arrow:after,
#resume .resume-section .resume-item .item-arrow:before {
    content: "";
    display: block;
    position: absolute;
}

#resume .resume-section .resume-item .item-arrow:before {
    height: 16px;
    left: 0;
    width: 16px;
}

#resume .resume-section .resume-item .item-arrow:after {
    border: 8px solid transparent;
    left: 16px;
}

#resume .resume-section .resume-item .item-title {
    line-height: 100%;
    margin-bottom: 9px;
}

#resume .resume-section .resume-item .item-details {
    display: inline-block;
    margin-bottom: 7px;
    color: #9f9f9f;
}

#resume .resume-section .resume-item .item-description {
    margin-bottom: 0;
    color: #9f9f9f;
}

#resume .resume-section .resume-item {
    border-left-color: #1ce2c8;
}

#resume .resume-section .resume-item .item-arrow:before {
    background-color: #1ce2c8;
}

#resume .resume-section .resume-item .item-arrow:after {
    border-left-color: #1ce2c8;
}

@media (max-width: 767.98px) {
    #resume .resume-section .resume-item {
        padding-right: 20px;
    }

    #resume .resume-section .col-block.education,
    #resume .resume-section .col-block.experience {
        margin-left: 0;
        margin-right: 0;
    }

    #resume .resume-section .col-12:last-child .resume-item:last-child {
        margin-bottom: 0;
    }

    #resume .resume-section .col-12:first-child .resume-item:last-child {
        margin-bottom: 60px;
    }
}

#skills {
    min-height: 65vh;
    margin-top: 10%;
}

.skills-section .single-skill .skill-progress .progress-bar {
    background-color: #1ce2c8;
}

#skills .skills-section .single-skill:not(:last-child) {
    margin-bottom: 42px;
}

#skills .skills-section .single-skill .skill-info {
    -ms-flex-pack: justify;
    color: #cecece;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: 4px;
}

#skills .skills-section .single-skill .skill-info .skill-name {
    display: inline-block;
    margin-right: 12px;
    white-space: nowrap;
}

#skills .skills-section .single-skill .skill-progress {
    background-color: #2f2f2f;
    border-radius: 1px;
    font-size: 15px;
    height: 9px;
    overflow: visible;
}

#skills .skills-section .single-skill .skill-progress .progress-bar {
    height: 100%;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}

@media (max-width: 767.98px) {
    #skills .skills-section .single-skill:not(:last-child) {
        margin-bottom: 40px !important;
    }

    #skills .skills-section [class*="col-"]:not(:last-child) .single-skill {
        margin-bottom: 40px !important;
    }
}

#portfolio {
    /* background: #FFFFFF; */
    /* padding-top: 12rem; */
    padding-bottom: 12rem;
}

.portfolio-wrapper {
    margin-top: 50%;
}

#toggle_checkbox {
    display: none;
}

#portfolio label {
    position: relative;
    top: 30px;
    right: 0;
    left: 0;
    display: block;
    width: 140px;
    height: 70px;
    margin: 0 auto;
    transform: translateY(-50%);
    cursor: pointer;
}

#portfolio label:before {
    top: 8px;
    left: 8px;
    width: 54px;
    height: 54px;
    border: 3px solid red;
}

#portfolio label:after {
    top: 0;
    right: 0;
    width: 140px;
    height: 70px;
    border: 3px solid #143240;
}

#portfolio label:before,
#portfolio label:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked + label:before {
    top: 0;
    left: 0;
    width: 140px;
    height: 70px;
    border-color: #143240;
}

#toggle_checkbox:checked + label:after {
    top: 8px;
    right: 8px;
    width: 54px;
    height: 54px;
    border-color: red;
}

.toggle-overlay {
    background: rgba(0, 0, 0, 0.8) !important;
}

.toggle-img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

#portfolio .folio-item {
    padding: 5% 0 0 0;
    position: relative;
    overflow: hidden;
}

#portfolio a:after {
    display: none;
}
#portfolio .folio-item img {
    vertical-align: middle;
    object-position: center;
    height: 50vh;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#portfolio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#portfolio .folio-item-table {
    display: table;
    width: 100%;
    height: 100%;
}
#portfolio .folio-item-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.toggle-cell {
    left: 0%;
}

#portfolio .folio-title {
    color: #ffffff;
    font-size: 3.3rem;
    padding: 0 3rem;
    margin-bottom: 0;
}
#portfolio .folio-types {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "poppins-regular", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 0.6);
}
#portfolio .folio-item:hover .overlay {
    background: rgba(0, 0, 0, 0.8);
}
#portfolio .folio-item:hover .folio-item-cell {
    left: 0;
}
#portfolio .folio-item:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.mfp-hide {
    display: none;
}

/**
 * responsive:
 * portfolio
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width: 1024px) {
    #portfolio .folio-title {
        font-size: 3.1rem;
    }
}
@media only screen and (max-width: 768px) {
    #portfolio .folio-title {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 400px) {
    #portfolio .folio-title {
        font-size: 2.2rem;
    }
}

#contact .contact-section address,
#contact .contact-section ul {
    margin: 0;
}

#contact .contact-section .contact-form .content-title {
    margin-bottom: 22px;
}

#contact .contact-section .contact-form .form-group {
    margin-bottom: 25px;
}

#contact-name #contact-email {
    width: 80%;
}

#contact .contact-section .contact-form .form-group .form-control {
    background-color: #161616;
    width: 100%;
    border: none;
    border-bottom: 1px solid #1d1d1d;
    border-radius: 0;
    font-size: 15px;
    height: 44px;
    padding: 9px 14px;
}

#contact .gap {
    width: 96%;
}
#contact .c-email {
    margin-left: 4%;
}

#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill,
#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill:active,
#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill:focus,
#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px #0b0b0b inset;
    -webkit-text-fill-color: #777 !important;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}

#contact .contact-section .contact-form .form-group .form-control::-webkit-input-placeholder {
    color: #777;
}

#contact .contact-section .contact-form .form-group .form-control::-moz-placeholder {
    color: #777;
}

#contact .contact-section .contact-form .form-group .form-control:-ms-input-placeholder {
    color: #777;
}

#contact .contact-section .contact-form .form-group .form-control::-ms-input-placeholder {
    color: #777;
}

#contact .contact-section .contact-form .form-group .form-control,
#contact .contact-section .contact-form .form-group .form-control::placeholder {
    color: #777;
}

#contact .contact-section .contact-form .form-group .form-control:focus {
    box-shadow: none;
}

#contact .contact-section .contact-form .form-group.form-message #contact-message {
    height: auto;
}

#contact .contact-section .contact-form .form-submit #contact-submit {
    padding: 10px 26px;
}

#contact .contact-section .contact-form .form-submit #contact-submit.wait {
    background-color: #777 !important;
    border-color: #777 !important;
}

#contact .contact-section .contact-form .form-submit #contact-submit.success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

#contact .contact-section .contact-form .form-submit #contact-submit.error {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

#contact .contact-section .contact-form .form-submit .contact-feedback {
    display: none;
    margin: 0;
    margin-top: 8px;
}

#contact .contact-section .contact-form .form-submit .contact-feedback.success {
    color: #28a745;
}

#contact .contact-section .contact-form .form-submit .contact-feedback.error {
    color: #dc3545;
}

#contact .contact-section .contact-info {
    padding-left: 15px;
}

#contact .contact-section .contact-info .info-description {
    font-size: 15px;
    margin-bottom: 28px;
}

#contact .list-info {
    display: flex;
    flex-direction: column;
}

#contact .media {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
}

#contact .contact-section .contact-info .list-info > li:first-child .info-icon {
    margin-bottom: 13px;
}

#contact .contact-section .contact-info .list-info > li:first-child .info-details {
    padding-top: 0;
}

#contact .contact-section .contact-info .list-info > li:last-child .info-icon {
    margin-top: 13px;
}

#contact .contact-section .contact-info .list-info > li:last-child .info-details {
    padding-bottom: 0;
}

#contact .contact-section .contact-info .list-info .info-icon {
    font-size: 36px;
    margin-right: 50px;
    position: relative;
}

#contact .contact-section .contact-info .list-info .info-icon i {
    -webkit-transform: translate(0, -50%);
    left: 0;
    line-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#contact .contact-section .contact-info .list-info .info-details {
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    padding: 12px 0 12px 22px;
}

#contact span {
    color: #cecece;
}
#contact .contact-section .contact-info .list-info .info-details .info-type {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    margin: 0 !important;
    text-align: left;
}

#contact .contact-section .contact-info .list-info .info-details .info-value a {
    color: #9f9f9f !important;
}

#contact .contact-section .contact-info .list-info .info-details .info-value a:focus,
#contact .contact-section .contact-info .list-info .info-details .info-value a:hover {
    color: #797979 !important;
}

@media (max-width: 1200px) {
    #contact .contact-section .contact-form .form-group {
        margin-bottom: 35px;
    }
}

#contact .contact-section .contact-form .form-group .form-control:focus {
    border-bottom: 1px solid #00d187;
}

#contact .contact-section .contact-info .list-info .info-icon i {
    color: #009e66;
}

@media (max-width: 990px) {
    #contact .contact-section .contact-form {
        margin-bottom: 45px;
    }

    #contact .contact-section .contact-info {
        padding-left: 0;
    }
}

@media (max-width: 780px) {
    #contact .contact-section .contact-info .info-description {
        font-size: 14px;
    }
}

footer {
    bottom: 0%;
    padding-bottom: 3rem;
    font-size: 1.4rem;
    font-family: "poppins-regular", sans-serif;
    color: #cecece;
}
footer a,
footer a:visited {
    color: #ffffff;
}
footer a:hover,
footer a:focus {
    color: #ff0077;
}
footer .row {
    max-width: 900px;
}
footer .social {
    text-align: right;
}
footer .footer-social {
    display: inline-block;
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
    padding-top: 40%;
    position: relative;
    top: -0.3rem;
}
footer .footer-social li {
    display: inline-block;
    margin: 0 12px;
    padding: 0;
}
footer .footer-social li a {
    color: #cecece;
}
footer .copyright span {
    padding-top: 40%;
    display: inline-block;
}
footer .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.1);
}
footer .copyright span:last-child::after {
    display: none;
}

/**
 * responsive:
 * footer
 * -------------------------------------------------------------------
 */
@media only screen and (max-width: 768px) {
    footer {
        text-align: center;
    }
    footer .social {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    footer .copyright span {
        display: block;
    }
    footer .copyright span::after {
        display: none;
    }
}

/**
 * go to top - (_layout.scss)
 * ------------------------------------------------------------------- 
 */
#go-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 600;
    display: none;
}
#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 6.6rem;
    width: 6rem;
    line-height: 6.6rem;
    text-align: center;
    background: #cc005f;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#go-top a i {
    font-size: 1.6rem;
    line-height: inherit;
}
#go-top a:hover {
    background: #000000;
}
