body {
    margin: 0;
    font: bold 14px/1.4 "Open Sans", arial, sans-serif;
    background: #000;
    background: radial-gradient(ellipse at top, #070f18 0%, #090a0f 100%);
    overflow-x: hidden;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        position: absolute;
        background: #000000;
        opacity: 0.1;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #eee;
        border-radius: 20px;
        border: 3px solid #2b1c3b;
    }
}
html {
    margin: 0;
    font: bold 14px/1.4 "Open Sans", arial, sans-serif;
    background: #000;
    background: radial-gradient(ellipse at top, #070f18 0%, #090a0f 100%);
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
}

/* Grid
********************************************************************* */

.container {
    position: relative;
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.column {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.u-cf {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 450px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}
@media (min-width: 846px) {
    .container {
        width: 80%;
    }
}
@media (min-width: 1080px) {
    .container {
        width: 90%;
    }
    .column {
        margin-left: 4%;
        &:first-child {
            margin-left: 0;
        }
    }
    .columns {
        margin-left: 4%;
        &:first-child {
            margin-left: 0;
        }
    }
    .one.column {
        width: 4.66666666667%;
    }
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    .offset-by-one.column {
        margin-left: 8.66666666667%;
    }
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column {
        margin-left: 17.3333333333%;
    }
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column {
        margin-left: 26%;
    }
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column {
        margin-left: 34.6666666667%;
    }
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column {
        margin-left: 43.3333333333%;
    }
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column {
        margin-left: 52%;
    }
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column {
        margin-left: 60.6666666667%;
    }
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column {
        margin-left: 69.3333333333%;
    }
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column {
        margin-left: 78%;
    }
    .offset-by-nine.columns {
        margin-left: 78%;
    }
    .offset-by-ten.column {
        margin-left: 86.6666666667%;
    }
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column {
        margin-left: 95.3333333333%;
    }
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column {
        margin-left: 34.6666666667%;
    }
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column {
        margin-left: 69.3333333333%;
    }
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column {
        margin-left: 52%;
    }
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}

/* Custom positioning 
********************************************************************* */
.right_aligned {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.list__unstyled {
    list-style: none;
    padding-left: 0;
}

.content__title {
    line-height: 1.5;
    margin-bottom: 12px;
}

.nomargin {
    margin: 0%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
}

.aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .aligned {
        flex-direction: column;
    }
}

ul {
    margin: 100px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}
li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
    transition: all 0.15s ease-in-out;
    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    &:hover {
        &:after {
            width: 100%;
            left: 0;
        }
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}
:focus {
    outline: 0;
}
::-moz-focus-inner {
    border: 0;
}
i {
    .icon {
        line-height: 100%;
    }
}
span {
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    user-select: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}
b {
    font-weight: 700;
}

@media only screen and (max-width: 580px) {
    ul {
        margin: 50px auto 0;
    }
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
@media screen and (max-width: 500px) {
    section {
        margin: 50px 0 !important;
    }
}
